* {
    box-sizing: border-box;
  }

body {
    background-color: #DE47BD;
    height: 100%;
    width: 100%;
}

.omidev-logo{
    height: 75px;
    width: 120px;
    position: absolute;
    z-index: 1;
}

#asset1{
    position: fixed;
    width: 2000px;
    height: 500px;
    left: -79px;
    top: -158px;
    transition: 3s ease-out;
    transform: translate(-9%, -25%);
}

#asset2{
    position: fixed;
    width: 3015px;
    height: 585px;
    left: -358px;
    top: 540px;
    transition: 2s ease-out;
    transform: translate(-15%, -50%);
}

#loginDiv{
    background-color: rgb(255, 255, 255);
    border: 1px solid #47A8DE;
    box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.50);
    float: right;
    height: auto;
    width: 25vw;

    position: absolute;
    top: 10vh;
    right: 15vw;
    border-radius: 5%;

    transition: all 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}

#loginDiv h1{

    font-family: 'Roboto', serif;
    position: relative;
    text-align: center;
    top: 3%;
}

#loginDiv h2{
    font-size: 12px;
    font-family: 'Roboto', serif;
    position: relative;
    text-align: center;
    top: 2%;
}

#loginDiv form{
    font-family: 'Roboto', serif;
    font-size: 15px;
    position: relative;
    text-align: left;
    margin-left: 10%;
    top: 3%;
}

.username-txt{
    top: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    background: #D9D9D9;
    height: 30px;
    width: 90%;
    margin-bottom: 20px;
}

.password-txt{
    top: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    background: #D9D9D9;
    height: 30px;
    width: 90%;
    margin-bottom: 20px;
}

.signin-btn{
    height: 35px;
    width: 80px;
    background: #625DA9;
    border: 0.5px solid gray;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#loginDiv hr{
    width: 85%;
}

#loginDiv p{
    font-family: 'Roboto', serif ;
    text-align: center;
    position: relative;
    top: -10px;
}

#loginDiv button img{
    height: 50px;
    width: 50px;
}

#loginDiv button{
    position: relative;
    left: 50%;
    transform: translate(-150%, -40%);
    margin-right: 50px;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

/*OTP Div Design*/
#otpDiv{
    display: none;
    opacity: 0;

    background-color: rgb(255, 255, 255);
    border: 1px solid #47A8DE;
    box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.50);
    height: auto;
    width: 25vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    border-radius: 5%;

    font-family: 'Roboto', serif;
    text-align: center;

    transition: all .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
}

#otpDiv h1,h2,h3,h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

#otpDiv h1{
    margin-top: 50px;
    font-weight: 600;
}

#otpDiv h2{
    font-weight: 100;
    font-size: 20px;
}

#otpDiv h3{
    font-weight: 400;
    font-size: 15px;
}

#otpDiv label{
    position: relative;
    left: -35px;
    padding-top: 90px;
    font-weight: 600;
    font-size: 10px;
}

.otp-field{
    top: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    background: #D9D9D9;
    height: 30px;
    width: 40%;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.otp-btn{
    height: 35px;
    width: 80px;
    background: #625DA9;
    border: 0.5px solid gray;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#otpDiv a{
    padding-bottom: 50px;
}

/*home-dashboard styles*/



























/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .omidev-logo{
        height: 50px;
        width: 100px;
    }

    #loginDiv{
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 70vw;
    
        position: absolute;
        align-content: center;
        top: 12vh;
        border-radius: 5%;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #loginDiv{
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 50vw;
    
        position: absolute;
        align-content: center;
        left: 50%;
        transform: translateX(-50%);
        top: 12vh;
        border-radius: 5%;

    }    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #loginDiv{
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 45vw;
    
        position: absolute;
        align-content: center;
        top: 10svh;
        border-radius: 5%;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #loginDiv{
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 40vw;
    
        position: absolute;
        align-content: center;
        top: 10vh;
        border-radius: 5%;
        
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #loginDiv{
        background-color: rgb(255, 255, 255);
        float: right;
        height: auto;
        width: 35vw;
    
        position: absolute;
        top: 10vh;
        right: 15vw;
        border-radius: 5%;
    
    }
}